//media queris

//nesting
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

//import
@import"html/productos";
@import"html/contacto";
@import"html/sobre-nosotros";
@import"html/unete";
@import"html/home";
@import"utilidades/mixin";
@import"utilidades/extend";
@import"utilidades/variables";

/*estilos genericos*/
body {
   font-family: 'Raleway', sans-serif;
   background-color: white;

}

//extend

/*extend header*/
header {
   nav {
      ul {
         li {
            @extend %header-li;

            a {
               @extend %header-a;
            }
         }

      }
   }
}

/*extend footer*/
footer {
   @extend %footer;
}

nav {
   ul {
      li {
         @extend %nav-li;

         a {
            text-decoration: $none;
         }
      }
   }
}

@media screen and (min-width:600px)and(max-width:1023px) {

   /*mq tablet*/
   /*estilos home*/
   .body-home {
      background-image: url("../img/fondo-home.jpg");
      color: aliceblue;
   }

   .nav-responsive {
      padding-top: 50px;
   }

   .nav-index {
      display: $none;
   }


   .ul-index {
      list-style: $none;

   }

   .nav-mobile {
      display: $none;
   }

   .container-div {
      background-color: rgba(0, 0, 0, 0.729);
   }

   .primer-carrusel {
      background-color: rgba(0, 0, 0, 0.729);
   }

   .container-h2-carrusel {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 12rem;
      height: 65px;
   }

   .realista {
      text-align: left;
      margin-left: 3rem;
      font-size: 20px;
      margin-top: 10px;
   }

   .contenedor-carrusel {
      display: flex;
      margin-left: 15rem;
      margin-right: 4rem;
      width: 60vh;
      margin-bottom: 2rem;

   }

   .container-2-h2-carrusel {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 1rem;
      background-color: rgba(0, 0, 0, 0.729);
   }

   .contenedor-carrusel-2 {
      display: flex;
      margin-left: 1rem;
      width: 40vh;
      margin-top: 0.5rem;

   }

   .trippy {
      text-align: left;
      margin-top: 4rem;
      margin-left: 1rem;
      font-size: 20px;
   }

   .container-3-h2-carrusel {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background-color: rgba(0, 0, 0, 0.729);
      margin-top: 1rem;
   }

   .graffiti {
      text-align: right;
      margin-top: 2rem;
      font-size: 20px;
      margin-left: 3rem;
   }

   .contenedor-carrusel-3 {
      display: flex;
      margin-top: 1rem;
      width: 40vh;
      margin-left: 3rem;
   }

   .contenedor-carrusel-4 {
      display: flex;
      margin-left: 1rem;
      width: 40vh;
      margin-top: 1rem;
   }

   .container-4-h2-carrusel {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background-color: rgba(0, 0, 0, 0.729);
      margin-top: 1rem;
   }

   .dotwork {
      text-align: left;
      margin-top: 4rem;
      margin-left: 1rem;
      font-size: 20px;
   }

   .caja-envios {
      display: inline-block;
      font-size: 15px;
      border: 1px solid rgb(202, 190, 64);
      width: 35%;
      height: 25%;
      padding: 10px;
      margin-right: 10px;

   }

   .h3-envios {
      text-align: $center;
   }

   .caja-envios-2 {
      display: inline-block;
      font-size: 15px;
      border: 1px solid rgb(202, 190, 64);
      width: 35%;
      height: 40%;
      padding: 10px;
   }

   .h3-tarjeta {
      text-align: $center;

   }

   .camion {
      width: 20%;
      height: 20%;
      transition: 2s;

      &:hover {
         width: 100px;
         height: 100px;
      }
   }

   .tarjeta {
      width: 13%;
      height: 13%;
      transition: 2s;

      &:hover {
         width: 70px;
         height: 70px;
      }
   }

   .siguenos {
      display: flex;
      justify-content: $center;
      margin-left: 40px;
      padding-top: 20px;
      font-size: 30px;
   }

   /*estilos productos tablet*/
   .body-productos {
      background-image: url("../img/fondo-productos.jpg");
      color: aliceblue;
   }

   .nav-productos {
      display: $none;
   }

   .ul-productos {
      list-style: $none;
   }

   .nav-responsive-productos {
      padding-top: 50px;
   }

   .nuestro-productos {
      background-color: rgba(0, 0, 0, 0.726)
   }

   /*estilo de boostrap*/
   .contenedor-padre {
      @include contenedor-padre(flex, row, wrap, center);
   }

   .contenedor-hijo {
      margin: 5px;

   }

   .ul-productos {
      list-style: $none;
   }

   .img-productos {
      width: 10%;
   }

   .h1-productos {
      text-align: $center;
   }

   .siguenos-productos {
      display: flex;
      justify-content: $center;
      font-size: 30px;
      margin-left: 40px;
      padding-top: 20px;
   }

   .h2-productos {
      color: aliceblue;
   }

   .h3-productos {
      color: rgba(0, 0, 0, 0.877);
   }

   .h3-footer-productos {
      font-size: 1rem;
   }

   /*estilos sobre nosotros tablet*/
   .body-nosotros {
      background-image: url("../img/fondo-pantalla-nosotros.jpg");
      color: aliceblue;
   }

   .nav-nosotros {
      display: $none;
   }

   .nav-responsive-nosotros {
      padding-top: 50px;
   }

   .ul-nosotros {
      list-style: $none;
   }

   .p-nosotros {
      background-color: rgba(0, 0, 0, 0.727);
      font-size: 20px;
   }

   .siguenos-nosotros {
      @include siguenos(flex, center, 40px, 20px, 30px, black);
   }

   /*estilos de contacto tablet*/
   .nav-responsive-contacto {
      padding-top: 50px;
   }

   .body-contacto {
      background-image: url("../img/fondo-contacto.jpg");
   }

   .nav-contacto {
      display: none;
   }

   .titulo-contacto {
      color: aliceblue;
   }

   .contacto-h2 {
      color: aliceblue;
      font-size: 2rem;
   }

   .legend {
      color: aliceblue;
      font-size: 2rem;
      background-color: rgba(0, 0, 0, 0.733);
   }

   .contenedor-input {
      background-color: rgba(0, 0, 0, 0.726);
      color: aliceblue;
   }

   ul li {
      list-style: none;
   }

   .reloj {
      display: inline-block;
      padding-right: 4rem;
   }

   .mapa {
      display: inline-block;
   }

   /*estilos de unete tablet*/
   .body-unete {
      background-image: url("../img/tatuando.jpg")
   }

   .nav-unete {
      display: $none;
   }

   .nav-responsive-unete {
      padding-top: 50px;
   }

   .titulo-unete {
      color: aliceblue;
   }

   .h2-unete {
      background-color: rgba(0, 0, 0, 0.719);
      color: aliceblue;
      font-size: 1.5rem;
   }

   .parrafo-unete {
      font-size: 25px;
   }

   .footer-unete {
      padding-top: 6rem;
      color: aliceblue;
      background-color: rgba(0, 0, 0, 0.732);
   }

   .h3-unete {
      font-size: 20px;
      color: aliceblue;
   }

   .h3-footer-nosotros {
      font-size: 1rem;
   }

   .siguenos-nosotros {
      color: aliceblue;
   }
}

main {
   text-align: $center;
   padding: 10px;
}

main img {
   width: 10%;
   display: inline;
}

main h1 {
   font-weight: bold;
   @extend %padding;
}

.parrafo {
   @extend %padding;
   font-size: 25px;
   margin: 20px 20px;
}

main h3 {
   text-align: left;
   padding-top: 15px;
}

.animacion-siguenos {
   width: 100px;
   height: 100px;
   position: relative;
   background-repeat: black;
   animation-name: example;
   animation-duration: 5s;
   font-size: 20px;
}

@keyframes example {
   from {
      top: 0;
   }

   to {
      top: 100px;
      color: black;
   }
}

/*estilo mobile*/
@media screen and (min-width:320px) and (max-width:480px) {
   .body-home {
      background-image: url("../img/fondo-home.jpg");
      color: aliceblue;
   }

   /*estilo home mobile*/
   .nav-responsive {
      padding-top: 50px;

   }

   .nav-index,
   .nav-productos,
   .nav-contacto,
   .nav-nosotros,
   .nav-trabaja {
      display: $none;
   }

   .realista,
   .trippy,
   .graffiti,
   .dotwork {
      animation: $none;
   }

   .parrafo {
      font-size: 1rem;
      background-color: rgba(0, 0, 0, 0.562);
   }

   .primer-carrusel {
      background-color: rgba(0, 0, 0, 0.562);
   }

   .trippy {
      background-color: rgba(0, 0, 0, 0.562);
   }

   .graffiti {
      background-color: rgba(0, 0, 0, 0.562);
   }

   .dotwork {
      background-color: rgba(0, 0, 0, 0.562);
   }

   .container-h2-carrusel {
      display: grid;
      grid-template-columns: repeat(1, 1fr);

   }

   .contenedor-carrusel {
      margin-bottom: 1rem;

   }


   .contenedor-carrusel-3 {
      margin-bottom: 2rem;

   }

   .caja-envios {
      border: 1px solid rgb(202, 190, 64);
      margin-bottom: 1rem;
      background-color: rgba(0, 0, 0, 0.562);
   }

   .caja-envios-2 {
      border: 1px solid rgb(202, 190, 64);
      background-color: rgba(0, 0, 0, 0.562);
   }

   .h3-envios {
      text-align: $center;
   }

   .h3-tarjeta {
      text-align: $center;
   }

   .camion {
      width: 10%;
      height: 10%;
      transition: 2s;
   }

   .camion:hover {
      width: 15%;
      height: 15%;
   }

   .tarjeta {
      width: 10%;
      height: 10%;
      transition: 2s;
   }

   .tarjeta:hover {
      width: 15%;
      height: 15%;
   }

   .siguenos {
      font-size: 30px;
   }

   .h3-footer {
      font-size: 1rem;
   }

   .footer-home {
      background-color: rgba(0, 0, 0, 0.562);
      font-size: 1rem;

   }

   /*estilos nosotros mobile*/
   .body-nosotros {
      background-image: url("../img/fondo-pantalla-nosotros.jpg");
      color: aliceblue;
   }

   .nav-responsive-nosotros {
      padding-top: 50px;
   }

   .siguenos-nosotros {
      font-size: 30px;
   }

   .footer-nosotros {
      background-color: rgba(0, 0, 0, 0.637);
      padding-right: 20px;
   }

   .h3-footer-nosotros {
      font-size: 1rem;
   }

   /*estilos unete mobile*/
   .body-unete {
      background-image: url("../img/tatuando.jpg");
      color: aliceblue;
   }

   .nav-unete {
      display: $none;
   }

   .nav-responsive-unete {
      padding-top: 50px;
   }

   .parrafo-unete {
      text-align: $center;
   }

   main img {
      width: 30%;
      justify-content: $center;
   }

   .footer-unete {
      padding-top: 4rem;
      background-color: rgba(0, 0, 0, 0.655);
   }

   .h2-unete {
      text-align: $center;
   }

   .h3-unete {
      font-size: 1rem;
   }

   .imput-text {
      width: 250px;
   }

   .imput-apellido {
      width: 250px;
   }

   .imput-email {
      width: 260px;
   }

   .imput-cv {
      padding-top: 1rem;
   }

   .form-unete {
      font-size: 12px;
      text-align: $center;
   }

   .siguenos {
      font-size: 30px;
   }

   /*estilos contacto mobile*/
   .body-contacto {
      background-image: url("../img/fondo-contacto.jpg");
      color: aliceblue;
   }

   .nav-responsive-contacto {
      padding-top: 50px;
   }

   ul li {
      list-style: none;
   }

   .consulta-input {
      width: 250px;
   }

   .h3-contacto {
      font-size: 1rem;
      text-align: center;
   }

   /*estilos productos mobile*/
   .body-productos {
      background-image: url("../img/fondo-productos.jpg");
      color: aliceblue;
   }

   .nav-responsive-productos {
      padding-top: 50px;
   }

   .contenedor-padre {
      color: black;
      margin-left: 6px;
   }

   .siguenos-productos {
      font-size: 30px;
   }

   .footer-productos {
      background-color: rgba(0, 0, 0, 0.725);
   }

   .h3-footer-productos {
      color: aliceblue;
      font-size: 1rem;
   }
}