@import"../utilidades/mixin";
@import"../utilidades/extend";

@media screen and  (min-width:1250px) {
.header-contacto{
    nav{
       ul{
          li{
              display: inline-block;
              margin-left: 15px;
              a{
                text-decoration: none;
                color: rgb(0, 0, 0);
              }
          }
          
       }
    }
 }
 
.nav-contacto{
    text-align: right;
    background-image: $color-nav;
    @extend %px;
 }
 .ul-contacto{
    list-style: $none;
 }
.contacto-h2{
    @include h2(center,30px,30px);
}
}