/*estilo de contacto*/
@import"../utilidades/mixin";
@import"../utilidades/extend";

@media screen and (min-width:1250px) {

    .body-contacto {
        background-image: url(../img/fondo-contacto.jpg);
    }

    .nav-contacto {
        text-align: right;
        background-image: $color-nav;
        padding: 10px;
    }

    .nav-responsive-contacto {
        display: none;
    }

    .contenedor-input {
        background-color: rgba(3, 3, 3, 0.572);
    }

    .nombre-contacto {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        color: aliceblue;
    }

    .apellido-contacto {
        margin-bottom: 1rem;
        color: aliceblue;
    }

    .email-contacto {
        color: aliceblue;
        margin-bottom: 1rem;
    }

    .consulta-contacto {
        color: aliceblue;
    }

    .ul-contacto {
        list-style: $none;
    }

    .contacto-h2 {
        @include h2(center, 60px, 20px);
    }

    .legend {
        font-size: 3rem;
    }

    .reloj {
        display: inline-block;
        justify-content: left;
        padding-right: 100px;
    }

    .mapa {
        display: inline-block;
        justify-content: right;
    }

    .img-reloj {
        &:hover {
            width: 70px;
            height: 70px;
        }
    }

    .img-mapa {
        &:hover {
            width: 60px;
            height: 60px;
        }
    }
}

.imput-text {
    width: 400px;
    margin-bottom: 1rem;
}

.imput-apellido {
    width: 400px;
    margin-bottom: 1rem;
}

.imput-email {
    width: 420px;
    margin-bottom: 1rem;
}

.footer-contacto {
    background-color: rgba(0, 0, 0, 0.718);
    max-height: 100%;
    color: aliceblue;
}

.h3-contacto {
    text-align: start;
    color: aliceblue;
    font-size: 1rem;
}