//variable

@import"../utilidades/variables";
@import"../utilidades/mixin";
@import"../utilidades/extend";
/*estilos de productos*/
@media screen and  (min-width:1250px) {
.header-productos{
    nav{
       ul{
          li{
              display: inline-block;
              margin-left: 15px;
              a{
                text-decoration: $none;
                color: $color-negro;
              }
          }
          
       }
    }
 }
 .nav-productos{
    text-align: right;
    background-image:$color-nav;
    padding: $px-10;
 }
 .ul-productos{
    list-style: $none;
 }
 .nav-responsive-productos{
    display: $none;
  }
  .nuestro-productos{
    background-image: linear-gradient(rgb(255, 255, 255),rgb(209, 205, 205));
   }
   /*estilo de boostrap*/
   .contenedor-padre{
      @include contenedor-padre(flex,row,wrap,center);
   }
   .contenedor-hijo{
    margin: 30px;
 
   }
  .ul-productos{
      list-style: $none;
   }
  
 .img-productos{
  width: 10%;
 }
 .h1-productos{
  text-align: $center;
 }
 .siguenos-productos{
   display: flex;
   justify-content: $center;
   font-size: 30px;
   margin-left: 40px;
    padding-top: 20px;
}
}