@import"../utilidades/variables";
@import"../utilidades/mixin";

/*estilos de nosotros*/
@media screen and  (min-width:1250px) {
 .nav-nosotros{
    text-align: right;
    background-image:$color-nav;
 }
 main{
   text-align: $center;
    padding: 10px;
  }
    main img{
    width: 10%;
    display: inline;
    }
     main h1{
        font-weight: bold;
        padding-bottom: 15px;
    }
    .parrafo{
        padding-bottom: 15px;
        font-size: 25px;
        margin: 20px 20px;
    }
    main h3{
        text-align: left;
        padding-top: 15px;
    }
 .ul-nosotros{
    list-style: $none;
 }
 .p-nosotros{
    background-image:linear-gradient(rgb(255, 255, 255),rgb(245, 243, 223));
 }
 .nav-responsive-nosotros{
    display: $none;
  }
  .siguenos-nosotros{
   @include siguenos(flex,center,40px,20px,30px);
 }

}