/*estilos de unete*/
@import"../utilidades/variables";
@import"../utilidades/mixin";
@import"../utilidades/variables";
@media screen and  (min-width:1250px) {

 .nav-responsive-unete{
    display: $none;
  }
 .nav-unete{
    text-align: right;
    background-image:$color-nav;
    padding: $px-10;

 }
 .ul-unete{
    list-style: $none;
 }
 
 .h2-unete{
    text-align: $center;
 }
 .form-unete{
    text-align: $center;
 }
}