//home

%borde{
    margin-top: 4rem;
    margin-left: 4rem;
}
%margenes{
    margin-left: 4rem;
    margin-top: 1rem;
}

//productos
%siguenos{
    margin-left: 40px;
    padding-top: 20px;
}
//contacto
%px{
    padding: 10px;
}