
%padding {
        padding-bottom: 15px;
}
//header
%header-li{
        display: inline-block;
        margin-left: 15px;
}
%header-a{
         text-decoration: $none;
         color: rgb(0, 0, 0);    
}
//foter
%footer{
        text-align: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.524), rgba(176, 173, 173, 0.544));
}
%nav-li{
        display: inline-block;
        padding: 15px 15px;
}