//home
        %medidas{
         display: flex;
         margin-left: 4rem;
         margin-top: 1rem;
         width: 35vh;

        }
        
//productos
%siguenos{
    margin-left: 40px;
    padding-top: 20px;
}
//contacto
%px{
    padding: 10px;
}